#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.QuizComponent{
  background-color: white;
  padding: 20px;
  height: 650px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-left: 8px solid rgb(106, 100, 228) ;
}
.QuizComponent p{
  text-align: left;
}
.options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between; 
  color: white;
}
.options .choose {
  flex: 0 0 98%;
  height: 30px;
  background-color: rgb(22, 185, 255);
  border-radius: 2em;
  padding: 10px;
  text-align: center;

}
.buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.buttons .button1{
background-color: rgb(8, 109, 226);
padding: 10px;
border: none;
width: 80px;
cursor: pointer;
&:hover{
  background-color: rgba(47, 130, 238, 0.847);
}
}
.buttons .button2{
background-color: green;
padding: 10px;
border: none;
width: 80px;
cursor: pointer;
&:hover{
  background-color: rgba(24, 210, 111, 0.847);
}
}
.buttons .button3{
background-color: red;
padding: 10px;
border: none;
width: 80px;
cursor: pointer;
&:hover{
  background-color: rgba(238, 76, 76, 0.847);
}
}